*{
    margin: 0%;
    padding: 0%;
    }
/*MARGENES TODAS LAS SECCIONES*/

.margenes{
    background-image: url(../imagenes/fondogodofwar.jpg);
   
}



/*BANER HEADER TODAS LAS SECCIONES*/

.tamañoBaner{
    width: 100%;
    height: 525px; 
    vertical-align: middle;

}

/* MENU TODAS LAS SECCIONES */
.menu{
    background-color: rgb(190, 46, 41);
    
    &__lista{  height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
         list-style-type: none;
        align-content: center;
        

    }
   

    &__icono{
        color: black;
        text-decoration: none;
        height: 100%;
        font-family: 'New Rocker', cursive;
        font-size: 25px;
       

    }


}

.menu__lista li:hover a{
    color: white !important;
}


/*INDEX*/
.introduccion{
    background-image: url(../imagenes/backindex.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
     color: aqua;
    font-family:'New Rocker', cursive;
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: 30px;
    height: 100%;
    padding-top: 60px;
}


.introduccionFrases > p{
    padding: 10px;
    }


/*ARTICULO SECCION INDEX- HISTORIA- NOVEDADES*/
.articulo{
    margin: 15px;
    padding: 15px;

    &__titulo{
        color:aqua;
        font-style: italic;
        font-size: 40px;
        text-align: center;
        padding-top: 45px;
        font-weight: bold;

       
       
    }

    &__parrafo{
        color: white;
        font-family:'New Rocker', cursive;
        text-align: justify;
        padding: 25px;
        font-size: 20px;
        

    }

    &__parrafoSecuela{
        color:rgb(184, 139, 26);
        font-family:'New Rocker', cursive;
        text-align: justify;
        padding: 25px;
        font-size: 22px;
        font-weight: bold;
        
        

    }

    

    &__tituloVioleta{
        color:rgb(102, 26, 102);
        font-style: italic;
        font-size: 40px;
        text-align: center;
        padding-top: 45px;
        font-weight: bold;

       
       
    }




}



.articulo__titulo:hover{
    animation-name: animacion;
        animation-duration: 3s;
        animation-iteration-count: inherit;
}

@keyframes animacion{
    0%{ font-size: 35px;}

    50%{ font-size: 45px;}

    100%{font-size: 60%;}
}

.seccionHistoria{
    background-image: url(../imagenes/fondogodofwar.jpg);
  
}




/* SECCION GALERIA*/

.seccionGaleria{
    
    background-color: rgb(0, 0, 0);
    
   
}


.galeria{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    column-gap: .5rem;
    row-gap: .5rem;
    padding-top: 25px;
    
}
 
.imagen{
    width: 100%;
}

.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.elemento4, .elemento5, .elemento6{
    height: 100%;
    
}

.imagen:nth-child(4){
    grid-row-start: span 2;
}

.imagen:nth-child(5){
    grid-row-start: span 2;
}
.imagen:nth-child(6){
    grid-row-start: span 2;
}


    /*SECCION NOVEDADES*/
.seccionNovedades{
    background-image: url(../imagenes/fondogodofwar.jpg);
    padding-top: 10px;
    padding-bottom: 10px;
    color: goldenrod;
}




/*seccion formulario*/

.contenedorFormulario{
    width: 80%;
    height: 450px;
    margin: 0px auto;

}

.formulario{
    margin: auto;
    margin-top: 50px;
    padding: 40px;
    box-sizing: border-box;
    width: 500px;
    background-color:black;
    border-radius: 4px;
    font-family: 'Calibri';
    color: white;
   

}


.controles{
    width: 80%;
    height: 20px;
   
}

.formulario h4{
    font-size: 22px;
    margin-bottom: 20px;
}


/*FOOTER DE TODAS LAS SECCIONES*/
.redesGenerales{
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: center;
    background-color: black;

}


.redes-container{
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: center;
}

.redes-container ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50 px;
    text-align: center;
}

.redes-container ul li a{
    display: block;
    padding: 0 10px;
    background-color: #333;
    color: white;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 2);
    transition: .2s;
}

.redes-container ul:hover a{
    color: rgb(120, 120, 218);
}

.redes-container ul li a:hover{
    transform: translate(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 4);
    filter: none;
}

.redes-container ul li .facebook:hover{
    background-color: rgb(83, 91, 204)
}

.redes-container ul li .instagram:hover{
    background-color: rgb(204, 43, 137)
}

.redes-container ul li .linkedin:hover{
    background-color: rgb(49, 49, 161)
}

.disclaimer{
    color: white;
   
}



