.card {
    position: relative;
    display: flex;
    /* flex-direction: column; */
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    border-radius: .25rem;

    height: auto;
    color: aqua;
    background-color: transparent;  

}





